<!DOCTYPE html>
<html>

<head>
    <title>Магазин</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div style="width:30vw;height:30vh;position:fixed; background-color:gray;left:35vw;top:30vh; display:{{display}}">
        <p>{{Id}}</p>
    </div>
</body>

</html>