<!DOCTYPE html>
<html>

<head>
    <title>Магазин</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div>
        <a href="/">
            <img src="" class="img_header" />
        </a>
    </div>
    <div class="block">
        <h1 class="text" style="color: #a10202;">Магазин</h1>
    </div>
    <div class="block">
        <p class="text" style="color: #ad1a1a;">Корзина</p>
    </div>
    <div>
        <% for(let i=0;i<JSON.parse(cookie.item).item.length; i++){%>
            <div class="card">
                <p class="text">
                    <%=JSON.parse(cookie.item).item[i]%>
                </p>
                <img src="" class="img_header" />
                <p class="text" style="margin-bottom: 0;">
                    <%=JSON.parse(cookie.item).count[i]%> штук(-и)
                </p>
            </div>
            <%}%>
    </div>
    <div id="forma" style="width:35vw;margin:1vw auto 0 auto; background-color: #391e94; padding: 1vw 0 1vw 0;">
        <form class="form" action="/purchased_all" method="POST">
            <input type="text" placeholder="Имя" name="first_name" />
            <input type="text" placeholder="Фамилия" name="last_name" />
            <input type="email" placeholder="Email" name="email" />
            <input type="text" placeholder="Адрес доставки" name="house" />
            <input type="submit" value="Купить" class="submit" />
            <% if(params['count']){ %>
                <input type="hidden" name="name" value="<%=JSON.parse(cookie.item).item[0]%>" />
                <input type="hidden" name="count" value="<%=JSON.parse(cookie.item).count[0]%>" />
                <% } %>
        </form>
    </div>
    <div class="div_footer">
        <div class="footer">
            <p><b>Магазин</b></p>
            <a>Доставка</a>
            <a>Оплата</a>
            <a>Контакты</a>
            <a>О магазине</a>
        </div>
        <div class="footer">
            <p><b>Соц. сети</b></p>
            <a>YouTube</a>
            <a>Telegram</a>
            <a>Email</a>
        </div>
    </div>
    </div>
    <script>
        var forma = document.querySelector('.form');
        if (document.location.href.indexOf("basket") == -1)
            forma.action = '/purchased';
    </script>
</body>

</html>