<div>
    <div class="button">
        <button>
            <a href="/basket">
                <p>Корзина</p>
            </a>
        </button>
    </div>
    <div class="button">
        <button>
            <a href="/shop">
                <p>Товары</p>
            </a>
        </button>
    </div>
    <%-include('news')%>
        <div class="button">
            <button>
                <a href="/news?page=0">
                    <p>Все новости</p>
                </a>
            </button>
        </div>
</div>
</div>