<div>
    <div class="button">
        <button>
            <a href="/basket">
                <p>Корзина</p>
            </a>
        </button>
    </div>
    <div class="button">
        <button>
            <a href="/shop">
                <p>Товары</p>
            </a>
        </button>
    </div>
    <div class="button">
        <button>
            <a href="/news">
                <p>Новости</p>
            </a>
        </button>
    </div>
</div>
</div>