<!DOCTYPE html>
<html>

<head>
    <title>Магазин</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div>
        <a href="/"><img src="" class="img_header" /></a>
    </div>
    <div class="block">
        <h1 class="text" style="color: #a10202;">Магазин</h1>
    </div>
        <%-include(name)  %>
    <div class="div_footer">
        <div class="footer">
            <p><b>Магазин</b></p>
            <a>Доставка</a>
            <a href="/payment">Оплата</a>
            <a>Контакты</a>
            <a>О магазине</a>
        </div>
        <div class="footer">
            <p><b>Соц. сети</b></p>
            <a>YouTube</a>
            <a>Telegram</a>
            <a>Email</a>
        </div>
    </div>
</body>

</html>